<div>
  <table>
    <tr>
      <td>Description</td>
      <td><%= @task.description %></td>
    </tr>
    <tr>
      <td>Achieved in</td>
      <td>
        <% if @task.achievement_date? %>
          <%= @task.achievement_date.strftime("%d/%m/%Y at %l:%M %P") %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
<div class="centralized moderate_padding_top">
  <%= link_to('Edit', edit_task_path, class: "btn btn-dark") %>
  <span style="padding-left: 50px"><%= link_to('Back', tasks_path, class: "btn btn-info") %></span>
</div>

