<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adsdasdsadas</title>
    <link rel="stylesheet" href="custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(76, 175, 80, 0.0)";>
<a class="navbar-brand"  href="#" >
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a3/NASA_Worm_logo.svg" width="100" height="100" class="d-inline-block align-top" alt="">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse d-flex p-2" style="justify-content: center; flex-grow: 2;" id="navbarNavAltMarkup">
    <div class="navbar-nav d-flex p-2">
    <div><a class="nav-item nav-link " href="#">MISSIONS</a></div>
    <div><a class="nav-item nav-link" href="#">THE FUTURE</a> </div>
    <div><a class="nav-item nav-link" href="#">ABOUT US</a></div>
    </div>
</div>
</nav>
<body>

<div class="d-flex "  style="justify-content: center;">
    <div class="mytitle "> Proxima Centauri b</div>
</div>

<div class="d-flex row myclass">
    <div class="col-sm mytext">
        "Science at NASA is all about exploring the endless frontier of the Earth and space."
    </div>
    <div class="col-sm "></div>
    <div class="col-sm ">
        <button type="button" style="background-color: rgba(255,255,255, 0); border-radius: 15px; color: white;">
            <span>JOIN US</span>
        </button>
    </div>
</div>

</body>
</html>