<div class="text-align-center">
  <ul class="list-group">
    <li class="list-group-item">
      <h3>Título:</h3>
      <p> <%= @task.title %></p>
    </li>
    <li class="list-group-item">
      <h3>Descrição:</h3>
      <p> <%= @task.description %></p>
    </li>
    <li class="list-group-item">
      <h3>Realizado em:</h3>
      <p> <%= @task.date_task %></p>
    </li>
  </ul>
</div>