

<link rel="stylesheet" type="text/css" href="index.css">
<li class="padding-top">
  <h3>Título:</h3>
  <p> <%= @task.title %></p>

  <h3>Descrição:</h3>
  <p> <%= @task.description %></p>

  <h3>Realizado em:</h3>
  <p> <%= @task.achievemnt_date %></p>
</li>