h1 {
    color: green;
    background-color: deeppink;
}

p {
    color: red;
}

ol{
    color: purple;
    list-style-type: none;
}

.palavraroxa {
    color: purple;
}

.paddinglista {
    padding-top: 300px;
}